.top, .n-top, .bottom, .left, .n-left, .right {
  position: absolute;
}
.top {
  top: 0
}
.n-top {
  top: -1px;
}
.bottom {
  bottom: 0
}
.left {
  left: 0
}
.n-left {
  left: -1px;
}
.right {
  right: 0
}
.to-left, .to-right, .from-top, .from-bottom{
  content: '';
  display: block;
}
.to-left, .to-right{
  height: 1px;
}
.from-top, .from-bottom{
  width: 1px;
}
.to-left{
  background: var(--bgToRight)
}
.to-right{
  background: var(--bgToLeft)
}
.from-top{
  background: var(--bgFromTop)
}
.from-bottom{
  background: var(--bgFromBottom)
}