:root {
  --primary: rgb(120, 205, 110);
  --secondary: rgb(115, 195, 105);
  --lightWhite: rgb(225, 225, 225);
  --darkWhite: rgb(180, 180, 180);
  --black: rgb(40, 40, 45);
  --grey: rgb(50, 50, 60);
  --red: rgb(255, 70, 70);
  --transition: all .3s linear;
  --spacing: 2px;
  --border: 4px;
  --bgToRight: radial-gradient(ellipse at right, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 70%); 
  --bgToLeft: radial-gradient(ellipse at left, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 70%); 
  --bgFromTop: radial-gradient(ellipse at top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 70%);
  --bgFromBottom: radial-gradient(ellipse at bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 70%);
  --bgColor: linear-gradient(135deg, rgba(120, 205, 110, .5) 0%, rgba(120, 205, 110, 0) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.4;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 16px;
  letter-spacing: var(--spacing);
}
p {
  text-align: justify;
}

a {
  text-decoration: none !important;
  color: unset !important;
}
a:hover {
  transition: var(--transition);
  color: var(--secondary);
  cursor: pointer;
}

button, input, .form-input, textarea, .area :focus{
  outline: none !important;
  box-shadow: none !important;
}
input, textarea :hover {
  cursor: unset;
}
ul {
  margin-bottom: 0px;
}
li{
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black);
  box-shadow: 0 0 0px 1000px var(--grey) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--grey) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--darkWhite);
  border-radius: 50px;
}

.no-height-modal, .no-height-message {
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 0px;
  transition: var(--transition);
}
.height-modal {
  height: 100%;
  transition: var(--transition);
}
.height-message {
  height: 100%;
  transition: var(--transition);
}
.modal-scrollIntoView-hook, .message-scrollIntoView-hook {
  position: absolute;
  height: 1px;
  bottom: 0;
  width: 100%;
  background: transparent;
  display: block;
}

@media (max-width: 991px) {
  .no-height-modal, .no-height-message {
    position: relative;
  }
  .height-modal {
    height: 750px;
  }
  .height-message {
    margin-top: 10px;
    height: 250px;
  }
}
@media (max-width: 575px) {
  .height-message {
    height: 200px;
  }
  .modal-scrollIntoView-hook {
    bottom: 82px;
  }
}
@media (max-width: 425px) {
  .modal-scrollIntoView-hook {
    bottom: 74px;
  }
}
@media (max-width: 375px) {
  .modal-scrollIntoView-hook {
    bottom: 67px;
  }
}