@import url('https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap');

$primary: rgb(120, 204, 109);
$secondary: rgb(114, 192, 105);
$lightWhite: rgb(225, 225, 225);
$darkWhite: rgb(178, 178, 178);
$black: rgb(38, 38, 45);
$grey: rgb(49, 49, 58);
$red: rgb(255, 0, 0);
$transition: all 0.3s linear;
$spacing: 2px;
$border: 4px;
$bgToRight: radial-gradient(ellipse at right, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 70%); 
$bgToLeft: radial-gradient(ellipse at left, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 70%); 
$bgFromTop: radial-gradient(ellipse at top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 70%); 

:export {
  Primary: $primary;
  Secondary: $secondary;
  LightWhite: $lightWhite;
  DarkWhite: $darkWhite;
  Black: $black;
  Grey: $grey;
  Red: $red;
  Transition: $transition;
  Spacing: $spacing;
  Border: $border;
  ToLeft: $bgToLeft;
  ToRight: $bgToRight;
  FromTop: $bgFromTop;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.4;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 16px;
  letter-spacing: $spacing;
}

a {
  text-decoration: none;
  color: unset !important;
  :hover {
    transition: $transition;
    color: $secondary;
    cursor: pointer;
  }
}

button, input {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ul {
  margin-bottom: 0px;
  li{
    list-style: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $black;
  box-shadow: 0 0 0px 1000px $lightWhite inset;
  -webkit-box-shadow: 0 0 0px 1000px $lightWhite inset;
  transition: background-color 5000s ease-in-out 0s;
}